@media screen and (max-width: 833px)  { 
    header { 
        transition: background .36s cubic-bezier(0.32, 0.08 , 0.24 , 1),
                    height .56s cubic-bezier(0.32, 0.08 , 0.24 , 1) ;
    }
    .active .nav-list-larger { 
        height: 100%;
        background-color: white;
    }
    .line { 
        transition: margin-top .3192s cubic-bezier(.04, .04, .12, .96);
    }

    .active .line-top { 
        transform: rotate(45deg);
        transition: transform .3192s .1s cubic-bezier(.04, .04, .12, .96);
        background-color: #141414;
        
    }

    .active .line-bottom { 
        transform: rotate(-45deg);
        transition: transform .3192s .1s cubic-bezier(.04, .04, .12, .96);
        margin-top: 9px;
        background-color: #141414;
    }
    .nav-smaller-hidden { 
        transition: opacity 0.9s;
    }
    .nav-list-larger { 
        box-sizing: border-box;
        transition: opacity 0.7s;
        opacity: 0;
        visibility: hidden;
    }
    .active .nav-list-larger { 
        width: 100%;
        height: 100vh;
        opacity: 1;
        visibility: visible;
        padding-left: 50px;
        padding-top: 45px;
    }
    .active .nav-smnaller-hidden { 
        opacity: 0;
        transition: opacity .3s;
    }
    .active .nav-list-larger .nav-content { 
        animation: fadeIn .7s ease-in;
    }
    @keyframes fadeIn {
        from { 
            opacity: 0;
        }
        to { 
            opacity: 1;
        }
    }
}