
html { 
    @apply text-xs
    m-0
    font-sans
}
 
 
a {
     @apply block
}

.nav-bar {
    backdrop-filter: blur(2rem);
    @apply 
    lg:flex lg:justify-center lg:items-center m-0
}
.container {
    @apply 
    lg:flex lg:justify-center
}
  
.nav-list {
    @apply 
    lg:list-none flex items-center justify-center m-0;
}
  
.nav-link {
    @apply 
    flex
    font-extralight text-black p-0 p-2 mr-4 ml-4
    lg:flex 
}
.nav-link-apple-icon { 
    @apply 
    block
}





